:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.6rem;
    overflow-x:hidden;
}

/* .grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
} */
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 36px;

}
.grid__row-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__row-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
    
}
.grid__row-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}